---
---
// Default mixins and settings -----------------
@import "mixins";
@import "settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../js/reveal.js/lib/font/source-sans-pro/source-sans-pro.css);

$themeColor: #444;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #fff;

$mainFontSize: 25px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingBackgroundColor: $themeColor;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #00f;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 3.0em;
$heading2Size: 2.0em;
$heading3Size: 1.5em;
$heading4Size: 1.00em;


section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "theme";
// ---------------------------------------------


// Lecture-specific styling

$citeColor: #a00;
$alertColor: #f00;

section.titlepage > div {
    margin-top: 1em;
}

section.titlepage .title {
    background-color: $themeColor;
    color: $backgroundColor;
    font-size: 1.5em;
}

section.titlepage .lecturer {

}
section.titlepage .slide_credit {
    font-size: 0.8em;
}

div.figure.inline {
    display: inline-block;
}

.reveal div.figure img {
    margin-bottom: 0px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

div.figure div.cite {
    color: $citeColor;
    font-size: 0.5em;
}

div.figure div.caption {
}

.reveal section img {
    box-shadow: none;
    border: none;
}

.reveal blockquote {
    background: $themeColor;
    color: $backgroundColor;
    font-style: normal;
}

.reveal blockquote.alert {
    background: red;
}

.reveal blockquote a {
    color: $backgroundColor;
}

.reveal blockquote div.cite {
    margin-top:1em;
    text-align:right;
    font-style: italic;
}

.reveal blockquote div.cite:before {
    content: "\2014 ";
}

.reveal p {
    text-align: left;
}

a.cite {
    color: $citeColor;
}

a.cite:hover {
    color: $citeColor;
}

// Text box
div.textbox {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 5px;
}

div.textbox > .title {
    margin-bottom: 10px;
    padding-left: 0.5em;
    background: $themeColor;
    color: $backgroundColor;
}

div.textbox.alert > .title {
    background: $alertColor;
    color: $backgroundColor;
}

// Spaced list
.spaced > li, .spaced > dd {
    margin-bottom: 1em;
}

.spaced:last-child {
    margin: 0em;
}

table.noborders tr td {
    border: 0px;
}

// Lecture overview table
table.overview td.current {
    font-weight: bold;
}

table.overview tr td {
    border: 0px;
}

table.overview tr:nth-child(6n), table.overview tr:nth-child(6n-1), table.overview tr:nth-child(6n-2) {
    background-color: lightgrey;
}
